<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="development">
        <logger name="com.grandland.qdhx.web" level="DEBUG"/>
        <logger name="com.grandland.qdhx.core" level="DEBUG"/>
    </springProfile>
    <springProfile name="production">
        <logger name="com.grandland.qdhx.web" level="INFO"/>
        <logger name="com.grandland.qdhx.core" level="INFO"/>
    </springProfile>
</configuration>